body {
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffff;
}

.body-no-scroll {
    overflow: hidden;
}

.header {
    height: 75px;
    padding: 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

@media (max-width: 960px) {
    .header {
        padding: 0 20px;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.logo p {
    color: #1053FF;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

@media (max-width: 960px) {
    .logo p {
        font-size: 28px;
    }
}

.logo img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.icon-menu-mobile {
    display: none;
}

@media (max-width: 960px) {
    .icon-menu-mobile {
        display: block;
    }
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu-mobile {
    display: none;
}

.menu-mobile a {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-decoration: none;
    color: #1053FF;
    cursor: pointer;
}

.menu-mobile a:hover {
    color: #ccc;
}

@media (max-width: 960px) {
    .menu-mobile {
        position: absolute;
        top: 75px;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100vh;
        padding: 30px 0;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #fff;
        gap: 16px;
    }
}

.link {
    color: #1053FF;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 0 35px;
    cursor: pointer;
}

@media (max-width: 960px) {
    .link {
        display: none;
    }
}

.btn-login {
    width: 137px;
    height: 36px;
    border-radius: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1053FF;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btn-login:hover {
    opacity: 0.8;
}

.container {
    width: 100%;
    height: auto;
}

.learn-more {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./public/images/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-learn-more {
    width: 137px;
    height: 36px;
    border: none;
    flex-shrink: 0;
    border-radius: 18px;
    background: #1053FF;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btn-learn-more:hover {
    opacity: 0.8;
}

.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 75px 0;
}

@media (max-width: 960px) {
    .about-body {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 65px 0;
    }
}

.about-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 960px) {
    .about-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.about-right {
    width: 50%;
}

@media (max-width: 960px) {
    .about-right {
        width: 100%;
    }
}

.prerequisite {
    width: 100%;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1053FF;
}

.objectives {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}

@media (max-width: 960px) {
    .objectives {
        flex-direction: column;
        gap: 30px;
        padding: 65px 0;
    }
}

.objectives-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 960px) {
    .objectives-left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.objectives-right {
    width: 50%;
}

@media (max-width: 960px) {
    .objectives-right {
        width: 100%;
    }
}

.footer {
    width: 100%;
    height: 235px;
    background: #1053FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

@media (max-width: 768px) {
    .footer {
        gap: 30px;
        padding: 20px 0;
    }
}

@media (max-width: 767px) {
    .footer {
        height: auto;
        flex-direction: column;

    }
}

.display-column {
    display: flex;
    flex-direction: column;
}

.title-logo {
    color: #1053FF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

@media (max-width: 768px) {
    .title-logo {
        font-size: 54px;
    }
}

.title {
    max-width: 600px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    color: #FFF;
    margin: 12px;
}

@media (max-width: 768px) {
    .title {
        max-width: 350px;
        font-size: 32px;
        line-height: 48px;
    }
}

.title-black {
    color: #000;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 75px 0 0 0;
}

@media (max-width: 768px) {
    .title-black {
        font-size: 32px;
    }
}

.title-white {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #FFF;
    margin: 0;
}

@media (max-width: 768px) {
    .title-white {
        font-size: 24px;
    }
}

.title-blue {
    max-width: 540px;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1053FF;
    margin: 0 0 35px 0;
}

@media (max-width: 768px) {
    .title-blue {
        font-size: 28px;
    }
}

.text-regular {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #000;
}

.text-white {
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}

@media (max-width: 768px) {
    .text-white {
        font-size: 18px;
    }
}

.styled-text {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.img {
    max-width: 526px;
    width: 100%;
}

.style-about {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

@media (max-width: 960px) {
    .style-about {
        align-items: center;
    }
}